body {
  font-family: var(--font-ordinary);
  color: var(--mainText-white);
  background: var(--bodyBackground-dark-light);
}

.main {
  min-height: 100vh;
  max-width: 1024px;
  margin: auto;
  background-color: var(--headerBackground-dark-super);
}
