.SwitcherContainer {
    background: var(--headerBackground-dark-super);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1024px;
    justify-content: flex-end;
    color: var(--authFont-white);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.SwitcherContainer .icon {
    color: var(--mainText-accent-blue);
    margin-right: 5px;
}

.SwitcherContainer .voiceText {
    margin-left: 10px;
}


.SwitcherContainer--slider {
    margin-left: 10px;
    width: 200px;
    height: 4px;
}

.SwitcherContainer--slider .rangeslider__fill {
    background-color: var(--rangeSlider-ocean);
}

.SwitcherContainer .rangeslider__handle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: var(--mainText-accent-blue);
}

.SwitcherContainer--slider .rangeslider__handle .rangeslider__handle-tooltip {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.SwitcherContainer--slider .rangeslider__handle:after {
    display: none;
}

@media only screen and (max-width: 1020px) {
    .SwitcherContainer--slider {
        width: 100px;
    }
}

@media only screen and (max-width: 720px) {
    .SwitcherContainer {
        justify-content: center;
    }
}

