@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Khand|Orbitron&display=swap");

@import "./helpers/variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    height: 100%;
    overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0000001a;
  background-color: #131e2f;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #04A598;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: #04A598;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#04A598), to(#04A598), color-stop(0.6, #04A598));
}
